.row {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media screen and (min-width:768px) and (max-width:992px){
  .row {
    width: 100%;
  }
}

@media screen and (max-width:768px){
  .row {
    width: 100%;
  }
}

/* BLOCCO LEZIONI */

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

#lezioni {
  text-align: center;
}
@media screen and (min-width:768px) and (max-width:992px){
  #lezioni .row{
    background-color: #007251;
    color: white;
  }
  #lezioni .row h3{
    font-size: 30px;
    margin: 10px 0;
    color: yellow;
  }
}
@media screen and (max-width:768px){
  #lezioni .row h3{
    font-size: 30px;
    margin: 10px 0;
  }
  #lezioni .row span{
    display: none;
  }
}
/* BLOCCO STEPS */

#steps {
  text-align: center;
}

@media screen and (min-width:768px) and (max-width:992px){
  #steps .row{
    background-color: yellow;
    color: #007251;
  }
}

@media screen and (max-width:768px){
  #steps .row span{
    display: none;
  }
  #steps .row h3{
    margin-bottom: 30px;
    font-size: 30px;
  }
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
#why .row .col-lg-12{
  margin-top: 80px;
}

@media screen and (min-width:768px) and (max-width:992px){
  #why .row{
    background-color: yellow;
    color: #007251;
  }
}

@media screen and (max-width:768px){
  #why .row span{
    display: none;
  }
  #why .row h3{
    margin-bottom: 30px;
    font-size: 30px;
  }
}
/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
